# Дашборд для Яндекс.Дзен

В этом файле пропишем код для подготовки к созданию дашборда: создадим коннекцию к базе, выгрузим данные из БД и проверим получившийся датасет на наличие пропусков и дубликатов.

In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\valeria\anaconda3\lib\site-packages (2.8.6)

In [3]:
db_config = {'user': 'praktikum_student',         # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp', # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # порт подключения
             'db': 'data-analyst-zen-project-db'}          # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                                                                                                             db_config['pwd'],
                                                                                                                                            db_config['host'],
                                                                                                                                             db_config['port'],
                                                                       db_config['db'])

engine = create_engine(connection_string)

In [4]:
query = ''' SELECT * 
            FROM dash_visits 
        '''

In [5]:
dash_visits = pd.io.sql.read_sql(query, con = engine)
dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [9]:
dash_visits.duplicated().sum()

0

In [10]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [8]:
dash_visits.to_csv('dash_visits.csv', index=False)

In [11]:
dash_visits

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

In [16]:
dash_visits.groupby('record_id')['age_segment'].count()

record_id
1040597    1
1040598    1
1040599    1
1040600    1
1040601    1
          ..
1071337    1
1071338    1
1071339    1
1071340    1
1071341    1
Name: age_segment, Length: 30745, dtype: int64

In [18]:
display(dash_visits['dt'].max())
display(dash_visits['dt'].min())

Timestamp('2019-09-24 19:00:00')

Timestamp('2019-09-24 18:28:00')